@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Varela+Round&display=swap");
/* Varela Round Header Font  
   Noto Sans Body Font
*/
* {
  box-sizing: border-box;
  margin: 0;
}

/* header  */
header {
  font-family: "Varela Round", sans-serif;
}
nav {
  background-color: white;
  color: white;
  display: flex;
  height: 5rem;
  align-items: center;
}

header ul {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  align-items: center;
  margin-right: 5em;
  gap: 3em;
}

header ul a {
  text-decoration: none;
}

#start {
  color: #0079d3;
  border: 1px solid #0079d3;
  border-radius: 100px;
  padding: 6px 10px;
  font-weight: bolder;
}

#learn {
  color: white;
  border-radius: 100px;
  padding: 6px 10px;
  font-weight: bolder;
  background-color: #0079d3;
  border: 1px solid #0079d3;
}
header h1 {
  border-radius: 20px;
  background-color: #ff4500;
  font-weight: 100;
  padding: 0.25em;
  padding: 5px 10px;
}

header:first-child {
  margin-left: 5em;
}

/* first section */

#introduction {
  background-color: #dae0e6;
  height: 80vh;
  display: flex;
  font-family: "Noto Sans", sans-serif;
}

.welcome {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 20px;
  background-color: white;
  display: flex;
  width: 100%;
}

#introduction h1 {
  font-size: 10px;
  font-weight: bold;
}

.gray {
  background-color: #e8e8e8;
  padding: 20px 5px;
  color: #e8e8e8;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post h1 {
  padding: 10px;
}

.post h2 {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 600;
}
.post h3 {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
}
.post button {
  background: none;
  color: white;
  border-radius: 100px;
  font-weight: bolder;
  background-color: #0079d3;
  border: 1px solid #0079d3;
  padding: 6px 10px;
  width: 75px;
  margin: 10px;
  margin-top: auto;
  align-self: flex-end;
}
