@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Varela+Round&display=swap");
/* Varela Round Header Font  
   Noto Sans Body Font
*/
* {
  box-sizing: border-box;
  margin: 0;
}

/* header  */
header {
  font-family: "Varela Round", sans-serif;
}
nav {
  background-color: white;
  color: white;
  display: flex;
  height: 5rem;
  align-items: center;
}

header ul {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  align-items: center;
  margin-right: 5em;
  gap: 3em;
}

header ul a {
  text-decoration: none;
  color: black;
}

header h1 {
  border-radius: 20px;
  background-color: #ff4500;
  font-weight: bold;
  padding: 0.25em;
}

header:first-child {
  margin-left: 5em;
}
